body {
    h2 {color: #5cab9f }
}

.post-content img {
    border: 1px solid #555555;
}

.post-content .book {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}

.post-description {
     display: none !important;
 }

.centered-figure {
  text-align: center;
}

.centered-figure img {
  display: block;
  margin: 0 auto;
}

a[href^="http"]:not([href*="localhost"]):not([href*="catherinepope.com"]):after {
    content: " ↗";
    font-size: 0.8em;
}

.social-icons a:after {
    content: none !important;
}