<h2>Delivery</h2>

<p>This workshop is delivered <strong>online</strong> through Zoom.</p>

<h2>Cost</h2>

<p>This {{ .Get "duration" | default "2-hour" }} workshop costs {{ .Get "price" | default "£525" }} + VAT for up to 30 participants.</p>

<h2>Booking</h2>

<p>Please email <a href="mailto:me@catherinepope.com">me@catherinepope.com</a> if you’d like to book this training or if you have any questions.</p>

<p>On receipt of a purchase order, I’ll arrange a date with you for the workshop and make all the necessary technical arrangements. You just need to promote the event and send the link to your researchers.</p>

<p>For more information, please see my full <a href="/workshops/terms-and-conditions/">workshop terms and conditions.</a></p>